
			/* all h2 tags*/
		h2{font-size: 30px;
			color: blue;
			font-weight: bold;
			font-style: italic;
			text-decoration: underline;
			background-color:gold;
		}
		/* for the head line*/
		h1{
			text-decoration: underline;
			font-style: italic;
			font-size: 70px;
			color: black;
			font-weight: bold;
			text-align: center;	
			background-color: red;
		}
		/*for sub texts*/
		.bold{
			font-size: 30px;
			font-weight: bold;
			color: blue;
			background-color: gold;
			text-decoration: underline;
			font-style: italic;
		}
		/* the whole test*/
		h3{
			color: green;
			background-color: lightblue;

		}
		p{
			font-size: 20px;
			background-color: lightblue;
		}


